In [1]:
import cudf
import cugraph

In [2]:
gdf = cudf.read_csv('./Game_Of_Thrones.csv')

In [3]:
gdf.head()

,Episodio,Titulo,Votos,Rating,F.Transmisión
0,1.1,Winter Is Coming,39826,9.1,8 May 2011
1,1.2,The Kingsroad,30209,8.8,15 May 2011
2,1.3,Lord Snow,28560,8.7,1 May 2011
3,1.4,"Cripples, Bastards, and Broken Things",27106,8.8,8 May 2011
4,1.5,The Wolf and the Lion,28215,9.1,15 May 2011

In [4]:
len(gdf)

67

In [5]:
gdf

,Episodio,Titulo,Votos,Rating,F.Transmisión
0,1.1,Winter Is Coming,39826,9.1,8 May 2011
1,1.2,The Kingsroad,30209,8.8,15 May 2011
2,1.3,Lord Snow,28560,8.7,1 May 2011
3,1.4,"Cripples, Bastards, and Broken Things",27106,8.8,8 May 2011
4,1.5,The Wolf and the Lion,28215,9.1,15 May 2011
...,...,...,...,...,...
62,7.3,The Queen's Justice,42407,9.2,30 Jul. 2017
63,7.4,The Spoils of War,80353,9.8,6 Aug. 2017
64,7.5,Eastwatch,40454,8.8,13 Aug. 2017
65,7.6,Beyond the Wall,58990,9.0,20 Aug. 2017
66,7.7,The Dragon and the Wolf,58571,9.4,27 Aug. 2017